/* Webfont: PCMerchis-SemiCondensed */@font-face {
    font-family: 'PCMerchisSemCond';
    src: url('PCMerchis-SemiCondensed.eot'); /* IE9 Compat Modes */
    src: url('PCMerchis-SemiCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('PCMerchis-SemiCondensed.woff') format('woff'), /* Modern Browsers */
         url('PCMerchis-SemiCondensed.woff2') format('woff2'), /* Modern Browsers */
         url('PCMerchis-SemiCondensed.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

